{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <link href='http://fonts.googleapis.com/css?family=Kranky' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/fullcalendar.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/fullcalendar.print.css" %}" media="print"/>
    <link rel="stylesheet" href="{% static "css/ext_gen.css" %}"/>
    <script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/fullcalendar.min.js" %}"></script>
    
    <script>
      $(document).ready(function() {
      $('#calendar').fullCalendar({
      {% autoescape off %}
      {{ calendar_config_options }}
      {{ calendar_events }}
      {% endautoescape %}
      });
      });
    </script>
    <script>
      if ({{fileReturnError}}==true)
      {
      alert('Error in generating time table!!!')
      }
    </script>
    <style>
      #calendar {
      max-width: 900px;
      margin: 0 auto;
      }
    </style>
    <title> Exam Timetable Generator </title>
  </head>
  <body>
    <div class="container">
      <div class="row text-center">
        <h1 class="handWritten"> Exam Timetable Generator </h1>
	<p class="handWritten handWrittenP"> Optimizing exam timetables by maximizing revision time between exams</p>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-3">
	  <div class="row">
	    <hr>
	    Assumption: Each subject is assumed to last for an hour in current version.
	    <hr>
	  </div>
          <div class="row">
            <h2 class="handWritten handWrittenH2"> Step 1 </h2>
            <p class="instructions">Download the template files</p>
            <table class="table table-bordered table-condensed">
	      <tr>
		<td>
		  <a href="{% static "forms/studentRecords.csv" %}">
		    Student Record Template
		  </a>
		</td>
	      </tr>
	      <tr>
		<td>
		  <a href="{% static "forms/timeSlots.csv" %}">
                    Available time slots Template
		  </a>		  
		</td>
	      </tr>
	    </table>
	  </div>
          <div class="row">
            <form class="form-inline"  action="/" method="post" enctype="multipart/form-data">
	      {% csrf_token %}

              <h2 class="handWritten handWrittenH2"> Step 2 </h2>
              <p class="instructions">Modify the template files and upload them</p>
	      <div class="form-group">
		<label for="id_studentRecordFile">Student record file</label>
		{{ form.studentRecordFile }}
		<label for="id_timeSlotFile">Available timeslots</label>
		{{ form.timeSlotFile }}
	      </div>
          </div>

          <div class="row">
            <h2 class="handWritten handWrittenH2"> Step 3 </h2>
            <button class="btn btn-primary btn-large btn-block" type="submit" value="Submit"> 
	      <p>Generate Time Table</p>
            </button>
          </div>
          </form>
        </div>
        <div class="col-md-9">
          <div id="calendar"></div>
        </div>
      </div>
      <div class="row text-center">
	<hr>
	Designed by <a href="http://cameronlai.com"> Cameron Lai </a>
	<hr>
      </div>
  </body>
</html>
